[submodule "docs/assets/buchfalten"]
	path = docs/assets/buchfalten
	url = https://github.com/risajef/buchfalten.git
[submodule "docs/assets/background-generator"]
	path = docs/assets/background-generator
	url = https://github.com/risajef/background-generator
[submodule "docs/assets/parallelismus"]
	path = docs/assets/parallelismus
	url = https://github.com/risajef/parallelismus.git
[submodule "docs/assets/python-blocks"]
	path = docs/assets/python-blocks
	url = https://github.com/risajef/python-blocks
[submodule "docs/assets/hoare-logic"]
	path = docs/assets/hoare-logic
	url = https://github.com/risajef/hoare-logic
